{% extends "base/base.html" %}

{% block start %}
<style>
    .checked{
        color: orange;
    }
</style>


<div class="container d-flex flex-row align-items-start justify-content-start gap-5 px-0 my-5 pt-5 h-auto">

    <div class="d-flex m-0 p-0">
		<div id="book_categories" class="col">
            {% include 'home/categoryfilter.html' %}
		</div>
	</div>
    
    <div class="d-flex flex-wrap flex-row align-items-center justify-content-center gap-5">
        <div class="d-none"><i class="fa-solid fa-bars"> Filters</i></div>
        {% for Book in Books %}
        <div class="d-flex flex-column align-items-center justify-content-center">
            <figure style="height: 330px;" class="card card-product-grid">
                <div class="img-wrap"> 
                    <img title="{{Book.name}}" src="/media/{{Book.coverpage}}" width="60" height="60">
                </div>
                
                <figcaption class="info-wrap border-top ">
                    <a style="width: 225px;" href="{% url 'Books:get_book' Book.slug %}" class="title text-wrap"> 
                        <b>{{Book.name}}</b>
                    </a>
                    <!-- <div class="py-2">
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div> -->
                    <div class="price mt-2">Rs. {{Book.price}}.00 </div> <!-- price-wrap.// -->
                </figcaption>
            </figure> <!-- card // -->
        </div> <!-- col.// -->
        {% endfor %}
    </div>    
</div>

{% endblock  %}