{% extends "base/base.html" %}

{% block start %}
<div class="container p-2 mt-5">

  <div class="w-100">
    <div class="py-6 p-md-6 p-lg-10">
      <!-- heading -->
      <h2 class="mb-6">Your Orders</h2>
      ` <br><br>
      <div class="table-responsive-l border-0">
        <!-- Table -->
        <table class="table mb-0 text-nowrap table-centered ">
          <!-- Table Head -->
          <thead class="bg-light">
            <tr>
              <th>&nbsp;</th>
              <th>Book</th>
              <th>Order Date</th>
              <th>Quantity</th>
              <th>Status</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <!-- Table body -->
            {% for order in myorders %}
            <tr>
              {% for books in order.orderitem_set.all %}
                <tr>
                  <td class="align-middle border-top-0 w-0">
                    <a href="#"><img src="/media/{{books.book.coverpage}}" alt="Ecommerce" class="icon-shape icon-xl"
                        width="60" height="90"></a>
                  </td>
                  <td class="align-middle border-top-0">
                    <a href="{% url 'Books:get_book' books.book.slug %}" class="fw-semi-bold text-inherit">
                      <h6 class="mb-0">{{books.book.name}}</h6>
                    </a>
                    <span><small class="text-muted"><b>{{books.quantity}} books</b></small></span>
                  </td>
                  <td class="align-middle border-top-0">
                    {{order.created_at}}

                  </td>
                  <td class="align-middle border-top-0">
                    {{books.quantity}}
                  </td>
                  <td class="align-middle border-top-0">
                    {% if order.status != "Delivered" %}
                    <span class="badge bg-warning">{{order.status}}</span>
                    {% else %}
                    <span class="badge bg-success">{{order.status}}</span>
                    {% endif %}

                  </td>
                  <td class="align-middle border-top-0">
                    Rs. {{books.price}}
                  </td>
                  <td class="text-muted align-middle border-top-0">
                    <a href="#" class="text-inherit" data-bs-toggle="tooltip" data-bs-placement="top"
                      data-bs-title="View"><i class="feather-icon icon-eye"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tr>
            {% endfor %}
      </div>
      </tbody>
      </table>
    </div>
  </div>
</div>
</div>
{% endblock %}